@import "../reset";
@import "../fonts_old";
@import "../loading";
@import "../media/media_old_game";
* {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    font-family: "Franklin Gothic Demi",  sans-serif;
    overflow: hidden;
    text-transform: uppercase;
}

.alert {
    display: none;
    position: absolute;
    z-index: 50;
    width: 100%;
    height: 100%;
}
.alert .content {
    margin: auto
}
.game_wrapper {
    position: fixed;
    width: 1680px;
    height: 1050px;
}
#game {
    width: 100%;
    height: 100%;
    background: #080200;
    overflow: hidden;
    position: absolute;
}

.main {
    width: 100%;
    height: 100%;
    position: absolute;
}

.reels_wrapper {
    z-index: 1;
    position: absolute;
    height: 511px;
    width: 1307px;
    top: 196px;
    left: 186px;
}

.line_presenters_container {
    top: 9px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 655px;

    &.left {
        left: 0;
    }
    &.right {
        right: 0;
    }
}

.line_presenter {
    background-image: url('../img/line_presenter_glare.png');
    background-size: 100% 100%;
    font-size: 32px;
    width: 54px;
    height: 54px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reels_container {
    display: flex;
    position: absolute;
    left: 93px;
}
.reel_wrapper {
    background-size: cover;
    position: relative;
    overflow: hidden;
}
.reel {
    position: absolute;
    bottom: 0;
    left: 0;
}
.jackpot-bonus {
    position: absolute;
    z-index: 1;
    top: -1px;
    right: 0;
    left: 0;
    margin: auto;
    background-image: url("../img/old_game/jackpot_bonus_bg.png");
    width: 1639px;
    height: 64px;

    .grid {
        position: absolute;
        background-image: url("../img/old_game/grid.png");
        right: 0;
        left: 0;
        top: 0;
        margin: auto;
        width: 1611px;
        height: 52px;
    }
}

.notifier {
    position: absolute;
    width: 738px;
    height: 72px;
    top: 23px;
    left: 210px;
    color: #f7f700;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    letter-spacing: 3px;
}
.credit_text {
    position: absolute;
    left: 275px;
    top: 120px;
    font-size: 28px;
    letter-spacing: 2px;
    color: #fcaf05;
    text-shadow: 1px 1px #000, -1px -1px #000, -1px 1px #000, 1px -1px #000;
}
.credit_amount {
    position: absolute;
    left: 354px;
    top: 114px;
    font-size: 28px;
    letter-spacing: 5px;
    width: 227px;
    height: 51px;
    text-align: right;
    font-size: 47px;
    font-family: 'digital-7';
    font-style: italic;
    box-sizing: border-box;
    color: #f7f700;
}
.denomination {
    width: 100px;
    position: absolute;
    right: 584px;
    top: 29px;

    &__header {
        font-size: 16px;
        text-align: center;
        letter-spacing: 2px;
        color: #fcaf05;
        text-shadow: 1px 1px #000, -1px -1px #000, -1px 1px #000, 1px -1px #000;
    }
    &__value {
        font-size: 43px;
        font-weight: 700;
        color: #f80800;
        font-family: Oswald serif;
        text-shadow:
            2px 2px #000,
            1px 1px #fcaf05,
            -1px -1px #fcaf05,
            1px -1px #fcaf05,
            -1px 1px #fcaf05;
        text-align: center;
        letter-spacing: 5px;
    }
}
.bet_per_line_text {
    right: 337px;
    position: absolute;
    top: 20px;
    font-size: 29px;
    letter-spacing: 2px;
    color: #fcaf05;
    text-shadow: 1px 1px #000, -1px -1px #000, -1px 1px #000, 1px -1px #000;
}
.bet_per_line_amount {
    right: 239px;
    position: absolute;
    top: 20px;
    font-size: 44px;
    font-family: 'digital-7';
    font-style: italic;
    letter-spacing: 2px;
    color: #f7f700;
}
.lines_amount_text {
    right: 337px;
    position: absolute;
    top: 59px;
    font-size: 29px;
    letter-spacing: 2px;
    color: #fcaf05;
    text-shadow: 1px 1px #000, -1px -1px #000, -1px 1px #000, 1px -1px #000;
}
.lines_amount {
    right: 239px;
    position: absolute;
    top: 54px;
    font-size: 44px;
    letter-spacing: 2px;
    color: #429BDF;
    font-family: 'digital-7';
    font-style: italic;
}
.bet_text {
    right: 355px;
    position: absolute;
    top: 118px;
    font-size: 29px;
    letter-spacing: 2px;
    color: #fcaf05;
    text-shadow: 1px 1px #000, -1px -1px #000, -1px 1px #000, 1px -1px #000;
}
.bet_amount {
    right: 237px;
    position: absolute;
    top: 114px;
    font-size: 44px;
    font-family: 'digital-7';
    font-style: italic;
    letter-spacing: 2px;
    color: #f7f700;
}
.cash_out_btn {
    background-image: url(../img/old_game/cash_out_btn_bg.png);
    background-size: 100%;
    position: absolute;
    left: 109px;
    top: 194px;
    width: 199px;
    height: 52px;
}
.info_btn {
    background-image: url(../img/old_game/info_btn_bg.png);
    background-size: 200% 200%;
    position: absolute;
    left: 303px;
    top: 194px;
    width: 199px;
    height: 55px;
}
.auto_btn {
    background-image: url(../img/old_game/auto_btn_bg.png);
    background-size: 200% 200%;
    position: absolute;
    left: 272px;
    bottom: 13px;
    width: 199px;
    height: 57px;
}
.exit_btn {
    background-image: url(../img/old_game/exit_btn_bg.png);
    background-size: 200% 200%;
    position: absolute;
    left: 66px;
    bottom: 13px;
    width: 199px;
    height: 57px;
}

.lines_btn {
    background-size: 200% 200%;
    position: absolute;
    bottom: 18px;
    height: 61px;
    width: 124px;
}
.one_lines_btn {
    background-image: url(../img/old_game/one_lines_btn_bg.png);
    left: 494px;
}
.three_lines_btn {
    background-image: url(../img/old_game/three_lines_btn_bg.png);
    left: 641px;
}
.five_lines_btn {
    background-image: url(../img/old_game/five_lines_btn_bg.png);
    left: 787px;
}
.sevens_lines_btn {
    background-image: url(../img/old_game/seven_lines_btn_bg.png);
    right: 620px;
}
.nine_lines_btn {
    background-image: url(../img/old_game/nine_lines_btn_bg.png);
    right: 474px;
}
.bet_btn {
    background-image: url(../img/old_game/bet_btn_bg.png);
    background-size: 200% 200%;
    position: absolute;
    right: 276px;
    top: 186px;
    width: 194px;
    height: 50px;

    &.double {
        background-image: url(../img/old_game/double_btn_bg.png);
    }
}
.maxbet_btn {
    background-image: url(../img/old_game/maxbet_btn_bg.png);
    background-size: 200% 200%;
    position: absolute;
    right: 72px;
    top: 189px;
    width: 194px;
    height: 50px;
}
.start_btn {
    background-image: url(../img/old_game/start_btn_bg.png);
    background-size: 200% 200%;
    position: absolute;
    right: 127px;
    bottom: 17px;
    width: 245px;
    height: 64px;
}

.panel {
    background: url("../img/old_game/panel_bg.png") center center;
    background-size: contain;
    position: absolute;
    bottom: 0;
    width: 1680px;
    height: 322px;
}
.border-left {
    background: url("../img/old_game/border_left.png") bottom;
    background-size: contain;
    position: absolute;
    left: 0;
    top: 0;
    width: 183px;
    height: 944px;
}
.border-right {
    background: url("../img/old_game/border_right.png") bottom;
    background-size: contain;
    position: absolute;
    right: 0;
    top: 0;
    width: 185px;
    height: 944px;
    z-index: 1;
}

.jackpot-bonus {
    font-size: 55px;
    text-transform: uppercase;
    font-family: Ponderosa;
    letter-spacing: 2px;
    z-index: 2;
}

.jackpot {
    position: absolute;
    display: flex;
    left: 40px;
    color: #f3ed00;

    &_text {
        padding-right: 10px;
    }
}
.bonus {
    position: absolute;
    display: flex;
    right: 44px;
    color: #f67900;

    &_text {
        padding-right: 10px;
    }
}
.win {
    color: #fcaf05;
    text-shadow: 1px 1px #000, -1px -1px #000, -1px 1px #000, 1px -1px #000;
    letter-spacing: 2px;
    font-size: 23px;
    font-weight: 500;
    text-transform: uppercase;
    position: absolute;
    top: 122px;
    right: 588px;
    display: flex;


    &__text {
        padding-right: 10px;
    }
    &__value {

    }
}


.gamble {
    transform: translateX(114%);
    transition: .5s linear;
    position: absolute;
    top: 183px;
    right: 0;
    left: 0;
    margin: auto;
    height: 542px;
    width: 1314px;
    z-index: 1;
    background-size: 100% 100%;

    .button__suit-color {
        cursor: pointer;
        top: 290px;
        position: absolute;
        width: 309px;
        height: 177px;
        text-align: center;
        line-height: 177px;
        font-size: 31px;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 7px;
        & .overflow-layer {
            border-radius: 20px;
            position: absolute;
            width: 100%;
            height: 100%;
        }
    }
    .button__red {
        left: 120px;
        background: url('../img/gamble/buttons/suit_color_old.png');
        color: #cc0000;
    }
    .button__black {
        right: 120px;
        background: url('../img/gamble/buttons/suit_color_old.png');
        color: #000;
    }
    .button__suit {
        cursor: pointer;
        position: absolute;
        top: 397px;
        width: 173px;
        height: 114px;
        & .overflow-layer {
            border-radius: 30px;
            position: absolute;
            width: 100%;
            height: 100%;
        }
    }
    .button__spade {
        right: 77px;
        background: url('../img/gamble/buttons/spade_old.png');
    }
    .button__club {
        right: 286px;
        background: url('../img/gamble/buttons/club_old.png');
    }
    .button__diamond {
        left: 286px;
        background: url('../img/gamble/buttons/diamond_old.png');
    }
    .button__heart {
        left: 77px;
        background: url('../img/gamble/buttons/heart_old.png');
    }
}
.gamble__amount {
    color: #fff;
    width: 50%;
    position: absolute;
    left: 107px;
    top: 56px;
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing: 3px;
    text-shadow: 4px 3px #000;

    &-value {
        width: 230px;
        text-align: center;
        margin-top: 18px;
    }
}
.gamble__to-win {
    width: 50%;
    position: absolute;
    right: 85px;
    top: 56px;
    color: #fff;
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing: 3px;
    text-shadow: 4px 3px #000;
    text-align: right;

    &-color {
        display: none;
    }

}
.card {
    background: url('../img/gamble/cards/card_old.gif');
    width: 218px;
    height: 264px;
    position: absolute;
    z-index: 1;
    top: 218px;
    right: 0;
    left: 0;
    margin: auto;
    border-radius: 11px;
    box-shadow: 10px 10px 10px 2px #000;
}
.card__suit {
    position: absolute;
    width: 218px;
    height: 264px;
    top: 218px;
    right: 0;
    left: 0;
    margin: auto;
}
.card__spade {
    background: url('../img/gamble/cards/spade.png');
}
.card__club {
    background: url('../img/gamble/cards/club.png');
}
.card__heart {
    background: url('../img/gamble/cards/heart.png');
}
.card__diamond {
    background: url('../img/gamble/cards/diamond.png');
}
.previous-cards {
    width: 1210px;
    height: 86px;
    position: absolute;
    top: 120px;
    right: 0;
    left: 0;
    margin: auto;
    display: flex;
}
.previous-cards__text {
    height: 100%;
    width: 50%;
    font-size: 33px;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 30px;
    box-sizing: border-box;
    color: #fff;
    text-shadow: 4px 3px #000;
}
.previous-cards__suits {
    height: 100%;
    width: 55%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
}
.suit-spade,
.suit-club,
.suit-heart,
.suit-diamond {
    background-size: 100% 100%;
    background-position: center center;
    width: 89px;
    height: 84px;
    margin-right: 7px;
}
.suit-spade {
    background-image: url('../img/gamble/suits/spade_old.png');
}
.suit-club {
    background-image: url('../img/gamble/suits/club_old.png');
}
.suit-heart {
    background-image: url('../img/gamble/suits/heart_old.png');
}
.suit-diamond {
    background-image: url('../img/gamble/suits/diamond_old.png');
}