@import "../reset";
@import "../fonts";
@import "../loading";
@import "../animations";
@import "../media/media";
@import "../panel";

* {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    font-family: "Oswald",  sans-serif;
    overflow: hidden;
}

.game_wrapper {
    position: fixed;
    width: 1680px;
    height: 1050px;
}

#game {
    width: 1680px;
    height: 1050px;
    background: #080200;
    overflow: hidden;
    position: absolute;
    z-index: 0;
}
.alert {
    display: none;
    position: absolute;
    z-index: 50;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.alert .content {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}
.main {
    width: 1680px;
    height: 731px;
    background-size: contain;
    position: absolute;
}

.reels_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    z-index: 1;
    padding-top: 10px;
    box-sizing: border-box;
}

.line_presenters_container {
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 6px 13px 0;
    height: 692px;
}

.line_presenter {
    background-image: url('../img/line_presenter_glare.png');
    background-size: 100% 100%;
    font-size: 32px;
    width: 54px;
    height: 54px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reels_container {
    display: flex;
    position: relative;
}

.reel_wrapper {
    // Because background rewrites it in every game
    background-size: 100% 100% !important;
    position: relative;
    overflow: hidden;
}

.reel {
    position: absolute;
    bottom: 0;
    left: 0;
}

.symbol {
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
    .overflow {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        &.on {
            background-color: rgba(0,0,0,0.6);
        }
        &.off {
            background-color: transparent;
        }
    }
}

.header {
    width: 100%;
    height: 105px;
    background-size: 100% 100%;
    transition: background, background-image 800ms linear;
}

.gamble {
    display: none;
    position: absolute;
    top: 115px;
    right: 0;
    left: 0;
    margin: auto;
    width: 1263px;
    height: 717px;
    background: white;
    z-index: 1;

    .button__suit-color {
        cursor: pointer;
        top: 260px;
        position: absolute;
        width: 419px;
        height: 108px;
        text-align: center;
        line-height: 98px;
        font-size: 50px;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 7px;
        .overflow-layer {
            border-radius: 20px;
            position: absolute;
            width: 100%;
            height: 100%;
            &.red {
                background-color: rgba(255,0,0,0.3);
            }
            &.black {
                background-color: rgba(0,0,0,0.3);
            }
        }
    }
    .button__red {
        left: 57px;
        background: url('../img/gamble/buttons/suit_color.png');
        color: #cc0000;
    }
    .button__black {
        right: 57px;
        background: url('../img/gamble/buttons/suit_color.png');
        color: #000;
    }
    .button__suit {
        cursor: pointer;
        position: absolute;
        top: 397px;
        width: 173px;
        height: 114px;
        & .overflow-layer {
            border-radius: 30px;
            position: absolute;
            width: 100%;
            height: 100%;
            &.red {
                background-color: rgba(255,0,0,0.3);
            }
            &.black {
                background-color: rgba(0,0,0,0.3);
            }
        }
    }
    .button__spade {
        right: 77px;
        background: url('../img/gamble/buttons/spade.png');
    }
    .button__club {
        right: 286px;
        background: url('../img/gamble/buttons/club.png');
    }
    .button__diamond {
        left: 286px;
        background: url('../img/gamble/buttons/diamond.png');
    }
    .button__heart {
        left: 77px;
        background: url('../img/gamble/buttons/heart.png');
    }
}
.gamble__amount {
    color: #fef669;
    width: 50%;
    position: absolute;
    left: 107px;
    top: 56px;
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing: 3px;
    text-shadow: 2px 2px #000;

    &-text {

    }
    &-value {
        width: 230px;
        text-align: center;
        margin-top: 18px;
    }
}
.gamble__to-win {
    width: 50%;
    position: absolute;
    right: 85px;
    top: 56px;
    color: #fef669;
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing: 3px;
    text-shadow: 2px 2px #000;
    text-align: right;

    &-color {
        margin-top: 18px;
    }

}
.card {
    background: url('../img/gamble/cards/card.gif');
    width: 221px;
    height: 326px;
    position: absolute;
    z-index: 1;
    top: 169px;
    right: 0;
    left: 0;
    margin: auto;
}
.card__suit {
    position: absolute;
    width: 242px;
    height: 327px;
    top: 169px;
    right: 0;
    left: 0;
    margin: auto;
}
.card__spade {
    background: url('../img/gamble/cards/spade.png');
}
.card__club {
    background: url('../img/gamble/cards/club.png');
}
.card__heart {
    background: url('../img/gamble/cards/heart.png');
}
.card__diamond {
    background: url('../img/gamble/cards/diamond.png');
}
.previous-cards {
    width: 1084px;
    height: 86px;
    background: url('../img/gamble/previous_cards.png');
    position: absolute;
    bottom: 89px;
    right: 0;
    left: 0;
    margin: auto;
    display: flex;
}
.previous-cards__text {
    height: 100%;
    width: 50%;
    font-size: 33px;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 67px;
    box-sizing: border-box;
}
.previous-cards__suits {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
    padding-right: 78px;
    box-sizing: border-box;
}

.suit-spade,
.suit-club,
.suit-heart,
.suit-diamond {
    width: 51px;
    height: 46px;
    margin-right: 7px;
}

.suit-spade {
    background: url('../img/gamble/suits/spade.png');
}
.suit-club {
    background: url('../img/gamble/suits/club.png');
}
.suit-heart {
    background: url('../img/gamble/suits/heart.png');
}
.suit-diamond {
    background: url('../img/gamble/suits/diamond.png');
}

.panel__background {
    background: none;
}