@media(max-width: 1600px) and (max-height: 1200px) {
    .game_wrapper {
        transform: scale(1.143);
        transform-origin: 67% 0%;
    }
}

@media(max-width: 1440px) and (max-height: 900px) {
    .game_wrapper {
        transform: scale(0.857);
        transform-origin: 0% 0%;
    }
}

@media(max-width: 1400px) and (max-height: 1050px) {
    .game_wrapper {
        transform: scale(1);
        left: -140px;
    }
}
@media(max-width: 1366px) and (max-height: 768px) {
    .game_wrapper {
        transform: scale(0.8145);
        transform-origin: 0% -45%;
        left: initial;   
    }
}
@media(max-width: 1280px) and (max-height: 1024px) {
    .game_wrapper {
        transform: scale(0.915, 0.98);
        transform-origin: 7% 0%;
    }
}
@media(max-width: 1280px) and (max-height: 960px) {
    .game_wrapper {
        transform: scale(0.91, 0.92);
        transform-origin: 10% 0%;
    }
}
@media(max-width: 1280px) and (max-height: 800px) {
    .game_wrapper {
        transform: scale(0.762);
        transform-origin: 35% 0%;
    }
}
@media(max-width: 1280px) and (max-height: 768px) {
    .game_wrapper {
        transform: scale(0.762, 0.732);
        transform-origin: 0% 0%;
    }
}
@media(max-width: 1280px) and (max-height: 720px) {
    .game_wrapper {
        transform: scale(0.767);
        transform-origin: 0% -34%;    
    }
}
@media(max-width: 1152px) and (max-height: 864px) {
    .game_wrapper {
        transform: scale(0.823);
        transform-origin: 8% 0%;    
    }
}
@media(max-width: 1024px) and (max-height: 768px) {
    .game_wrapper {
        transform: scale(0.732);
        transform-origin: -23% 0%;
    }
}