.panel {
    position: absolute;
    bottom: 0;
    width: 1680px;
    z-index: 2;
}
.panel .panel_row {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    background-size: 100% 100%;
    z-index: 1;
}
.panel_row-top {
    height: 98px;
    background: url('../img/panel_top_bg.png');
    position: relative;
}
.panel_row-bot {
    height: 115px;
    background: url('../img/panel_bottom_bg.png');
    position: relative;
}
.panel-bottom__container,
.panel-top__container {
    position: relative;
    width: 1370px;
    right: 0;
    left: 0;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.panel-top__container {
    padding-right: 25px;
}
.panel-bottom__container {
    padding-left: 25px;
}

.toggle_block {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    min-width: 300px;
    display: none;
    background: darkcyan;
    transition: .3s cubic-bezier(.79,1.51,.74,.84);
    padding: 50px 44px 30px 44px;
    box-sizing: border-box;
    border-radius: 45px 45px 0 0;
    background-clip: padding-box;
    background-image:
        url(../img/choose/topLeft.png),
        url(../img/choose/bottomLeft.png),
        url(../img/choose/topRight.png),
        url(../img/choose/bottomRight.png),
        url(../img/choose/left.png),
        url(../img/choose/right.png),
        url(../img/choose/top.png),
        url(../img/choose/bottom.png),
        url(../img/choose/middlePart.png);
    background-position: top left, bottom left, top right, bottom right, left, right, top, bottom, center;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, repeat-y, repeat-y, repeat-x, repeat-x, repeat;

    &__header {
        background: url(../img/choose/header_bg.png) no-repeat;
        border-radius: 10px;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        margin: auto;
        font-size: 15px;
        width: 248px;
        height: 35px;
        text-align: center;
        text-transform: uppercase;
        line-height: 35px;
        color: #cdc700;
    }
}
.toggle_block .content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap-reverse;
    flex-direction: row-reverse;
}
.toggle_block .content--lines {
    max-width: 980px;
}
.toggle_block .content--betperline {
    max-width: 1078px;
}
.toggle_block .content .item {
    color: #dbdbdb;
    font-size: 32px;
    font-weight: 700;
    cursor: pointer;
    box-shadow: #286da1 0 0 12px 5px;
    background-image: url("../img/button_bg.png");
    background-position: left;
    width: 78px;
    height: 73px;
    line-height: 73px;
    margin: 10px;
    border-radius: 7px;
    text-align: center;

    &--active {
        color: rgba(5, 4, 36, 0.8);
        background-position: right;
    }
}
.lang_block {
    left: 30%;
}
.flex_center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.panel_row-top .menu_btn {
    background: url('../img/exit_btn_bg.png');
    background-position: top left;
    background-repeat: no-repeat;
    background-size: 200% 200%;
    text-transform: uppercase;
    cursor: pointer;
    width: 113px;
    height: 84px;
    margin-top: 11px;
    line-height: 84px;
    font-size: 22px;
    text-align: center;
    color: #050424;
}

.text_number_button {
    margin-top: 15px;
    display: flex;
    background: url('../img/button_with_number.png');
    background-position: top left;
    background-repeat: no-repeat;
    background-size: 200% 200%;
    padding-left: 5px;
    box-sizing: border-box;
    cursor: pointer;
}
.text_number_button .title {
    height: 100%;
    width: 65%;
    color: #050424;
    font-size: 22px;
}
.text_number_button .number {
    height: 100%;
    width: 35%;
    color: white;
    font-size: 20px;
}

.panel_row-top .lines_btn {
    text-transform: uppercase;
    width: 143px;
    height: 75px;
    line-height: 75px;
    font-size: 28px;
    text-align: center;
}
.panel_row-top .betperline_btn {
    text-transform: uppercase;
    width: 143px;
    height: 75px;
    line-height: 75px;
    font-size: 28px;
    text-align: center;
}
.panel_row-top .betperline_btn .title {
    flex-direction: column;
}
.jackpot_bonus {
    width: 785px;
    height: 98px;
    background: url('../img/jackpot_bonus_bg.png');
    background-size: 100% 100%;
    padding: 0 10px;
    position: relative
}
.jackpot_bonus .text_block {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    position: absolute;
    top: 11px;
    margin: auto;
    left: 0;
    right: 0;
    width: 768px;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 2px;
    font-family: "FiraMono", sans-serif;
}
.jackpot_bonus .text_block .text_part {
    display: flex;
    align-items: center;
}
.jackpot_bonus .text_block .grid {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../img/notifier_grid_bg.png');
    background-size: 100% 100%;
}
.jackpot_bonus .text_block .title {
    text-transform: uppercase;
}
.jackpot_bonus .text_block .title::after {
    content: ':';
    margin-right: 10px;
}
.jackpot_bonus .text_block .jackpot { 
    color: #f74747;
    text-shadow: 0 0 10px #f74747;
}
.jackpot_bonus .text_block .bonus { 
    color: #74f465;
    text-shadow: 0 0 10px #74f465;
}
.jackpot_bonus .notifier {
    margin: auto;
    position: absolute;
    top: 48px;
    left: 0;
    right: 0;
    width: 786px;
    height: 50px;
    background: url('../img/notifier_field_bg.png');
    background-size: 100% 100%;
    border-radius: 5px;
    color: rgba(255, 255, 255, 0.8);
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    text-shadow:
        1px 1px 0px #2178cd,
        -1px -1px 0px #2178cd,
        1px -1px 0px #2178cd,
        -1px 1px 0px #2178cd;
}
.panel_row-top .auto_btn {
    background: url('../img/auto_btn.png');
    background-position: top left;
    background-repeat: no-repeat;
    background-size: 200% 200%;
    box-sizing: border-box;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 43px;
    color: white;
    cursor: pointer;
    width: 115px;
    height: 47px;
    height: 43px;
    margin-top: 10px;

}
.panel_row-bot .denomination_btn {
    flex-direction: column;
    justify-content: space-around;
    background: url('../img/denomination_btn_bg.png');
    background-position: top left;
    background-repeat: no-repeat;
    background-size: 200% 200%;
    padding: 5px 0 10px 0;
    box-sizing: border-box;
    font-weight: 900;
    cursor: pointer;
    margin-top: 20px;
    width: 90px;
    height: 77px;
}
.panel_row-bot .denomination_btn .text {
    color: #052d56;
    font-size: 12px;
}
.panel_row-bot .denomination_btn .number {
    color: white;
    font-size: 20px;
}
.panel_row-bot .denomination_btn .currency {
    color: #cdc700;
    font-size: 14px;
}

.panel_row-bot .user_cash {
    background: url('../img/cash_presenter_bg.png');
    background-size: 100% 100%;
    margin-top: 6px;
    width: 307px;
    height: 109px;
    padding: 10px 10px 5px 10px;
    box-sizing: border-box;
}
.panel_row-bot .fields_wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.panel_row-bot .user_cash .fields_wrapper .field {
    background: url('../img/cash_presenter_field_bg.png');
    background-size: 100% 100%;

    width: 100%;
    height: 50%;

    display: flex;
    justify-content: space-between;

    padding: 5px;
    box-sizing: border-box;
}
.panel_row-bot .user_cash .fields_wrapper .credit {
    margin-bottom: 5px;
}
.panel_row-bot .user_cash .fields_wrapper .field .title {
    font-size: 20px;
    color: white;
    text-transform: uppercase;
}
.panel_row-bot .user_cash .fields_wrapper .field .numbers {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.panel_row-bot .user_cash .fields_wrapper .field .numbers .points {
    color: white;
    text-align: end;
    font-size: 20px;
}
.panel_row-bot .user_cash .fields_wrapper .field .numbers .kups {
    color: #cdc700;
    text-align: end;
    font-size: 12px;
}
.tnblock {
    height: 89px;
    margin-top: 17px;
}
.tnblock_bet {
    background: url('../img/bet_field.png');
    background-size: 100% 100%;
    width: 91px;
    left: 442px;
}
.tnblock_bet .numbers .points { color: #75cdff; }
.tnblock_bet .numbers .kups { color: #7994a2; }
.tnblock_win {
    background: url('../img/win_field.png');
    background-size: 100% 100%;
    width: 112px;
    left: 560px;
}
.tnblock_win .numbers .points { color: #448604; }
.tnblock_win .numbers .kups { color: #39472a; }
.tnblock {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 10px;
}
.tnblock .title_wrapper {
    height: 45%;
}
.tnblock .title {
    font-size: 20px;
    color: white;
    text-transform: uppercase;
}
.tnblock .numbers {
    color: white;
    height: 55%;
    flex-direction: column;
    justify-content: flex-start;
}
.tnblock .numbers .points {
    font-size: 30px;
    font-weight: 700;
}
.tnblock .numbers .kups {
    font-size: 16px;
    font-weight: 400;
}
.panel_row-bot .lhh_panel {
    background: url('../img/help_panel_bg.png');
    background-size: 100% 100%;
    height: 91px;
    width: 276px;
    margin-top: 24px;
    padding-top: 16px;
    box-sizing: border-box;
    position: relative;
}
.panel_row-bot .lhh_panel  .language_btn {
    background: url('../img/lang_flags/en_btn_bg.png');
    background-position: top left;
    background-repeat: no-repeat;
    background-size: 200% 200%;
    position: absolute;
    left: 18px;
    height: 47px;
    width: 54px;
    cursor: pointer;
}
.panel_row-bot .lhh_panel  .help_btn {
    background: url('../img/help_btn_bg.png');
    background-position: top left;
    background-repeat: no-repeat;
    background-size: 200% 200%;
    position: absolute;
    left: 76px;
    height: 46px;
    width: 59px;
    cursor: pointer;
}
.panel_row-bot .lhh_panel  .history_btn {
    background: url('../img/history_btn_bg.png');
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 200% 200%;
    position: absolute;
    right: 16px;
    width: 116px;
    height: 49px;
    line-height: 49px;
    box-sizing: border-box;
    color: rgba(255, 255, 255, 0.2);
    text-transform: uppercase;
    cursor: pointer;
}

.button {
    margin-top: 16px;
    background: url('../img/previous_btn_bg.png');
    background-position: top left;
    background-repeat: no-repeat;
    background-size: 200% 200%;
    top: 22px;
    width: 134px;
    height: 91px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 25px;
    text-shadow: 0.5px 0.5px 0.5px #def, 0 0 0 #000, 0px 0px 0px #def;
    cursor: pointer;
}

.panel_row-bot .start_btn {
    margin-top: -30px;
    width: 156px;
    height: 144px;
    background: url('../img/next_btn_bg.png');
    background-position: top left;
    background-repeat: no-repeat;
    background-size: 200% 200%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    box-sizing: border-box;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 35px;
    text-shadow: 0.5px 0.5px 0.5px #def, 0 0 0 #000, 0px 0px 0px #def;
    cursor: pointer;
}
