@media(width: 1680px) and (height: 1050px) {
    .game_wrapper {
        transform: translateX(-93px);
    }
}

@media(max-width: 1600px) and (max-height: 1200px) {
    .game_wrapper {
        transform: scale(1.143);
        transform-origin: 100% 0%;
    }
}

@media(max-width: 1440px) and (max-height: 900px) {
    .game_wrapper {
        transform: scale(0.857);
        transform-origin: -30% 0%;
    }
}

@media(max-width: 1400px) and (max-height: 1050px) {
    .game_wrapper {
        transform: scale(1);
        left: -235px;
    }
}
@media(max-width: 1366px) and (max-height: 768px) {
    .game_wrapper {
        transform: scale(0.735);
        transform-origin: 0% 0%;
        left: initial;
    }
}
@media(max-width: 1280px) and (max-height: 1024px) {
    .game_wrapper {
        transform: scale(0.915, 0.98);
        transform-origin: 12% 0%;
    }
}
@media(max-width: 1280px) and (max-height: 960px) {
    .game_wrapper {
        transform: scale(0.91, 0.92);
        transform-origin: 10% 0%;
    }
}
@media(max-width: 1280px) and (max-height: 800px) {
    .game_wrapper {
        transform: scale(0.762);
        transform-origin: 36% 0%;
    }
}
@media(max-width: 1280px) and (max-height: 768px) {
    .game_wrapper {
        transform: scale(0.732);
        transform-origin: -9% 0%;
    }
}
@media(max-width: 1280px) and (max-height: 720px) {
    .game_wrapper {
        transform: scale(0.686);
        transform-origin: 0% 0%;
    }
}
@media(max-width: 1152px) and (max-height: 864px) {
    .game_wrapper {
        transform: scale(0.823);
        transform-origin: 12.5% 0%;
    }
}
@media(max-width: 1024px) and (max-height: 768px) {
    .game_wrapper {
        transform: scale(0.732);
        transform-origin: -34.5% 0%;
    }
}