@import "../game_types/with_borders";

.alert .content {
    background: url('../img/games/beautydolphins/images/freeSpinBg.png');
}

.main {
    background: url('../img/games/beautydolphins/game_bg.png') center center;
    margin-top: 12px;
}
.line_presenters_container {
    top: 4px;
}
.reels_container {
    left: 82px;
    top: 9px;
}
.line_presenter {
    background-image: url('../img/line_presenter_glare.png');
    background-color: #686890;
    background-size: 100% 100%;
    font-size: 32px;
    width: 54px;
    height: 54px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reel_wrapper {
    background: url('../img/games/beautydolphins/reel_bg.png');
}

.header {
    background: url('../img/games/beautydolphins/header.png');
}
.gamble {
    background: url('../img/games/beautydolphins/gamble/gamble_bg.png');
}