@import "../game_types/with_borders";

.alert .content {
    background: url('../img/games/billiardworld/images/freeSpinBg.png');
}
.main {
    background: url('../img/games/billiardworld/game_bg.png') center center;
}

.line_presenters_container {
    height: 659px;
    top: 6px;
    &.left {
        left: 4px;
    }
    &.right {
        right: 8px;
    }
}
.line_presenter {
    border-radius: 50%;


}

.reel_wrapper {
    background: url('../img/games/billiardworld/reel_bg.png');
}

.header {
    background: url('../img/games/billiardworld/header.png');
}