@import "../game_types/with_borders";

.alert .content {
    background: url('../img/games/bookofwins/images/freeSpinBg.png');
    width: 541px;
    height: 497px;
    font-size: 44px;
    color: #8400a6;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 200px 120px 100px 120px;
}
.main {
    background: url('../img/games/bookofwins/game_bg.png') center center;
    top: 152px;
}

.reels_container {
    top: 9px;
    left: 92px;
}

.line_presenters_container {
    top: 6px;
}

.reel_wrapper {
    background: url('../img/games/bookofwins/reel_bg.png');
}

.header {
    background: url('../img/games/bookofwins/header.png');
}
.gamble {
    background: url('../img/games/bookofwins/gamble/gamble_bg.png');
    background-size: 100% 100%;
    width: 1400px;
    height: 681px;
    top: 152px;
}