@import "../game_types/without_borders";

.main {
    background: url('../img/games/bookofwinner/game_bg.gif') center center;
}

.line_presenter {
    background-image: url('../img/line_presenter_glare.png');
    background-color: #686890;
    background-size: 100% 100%;
    font-size: 32px;
    width: 54px;
    height: 54px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reel_wrapper {
    background: url('../img/games/bookofwinner/reel_bg.png');
}

.header {
    background: url('../img/games/bookofwinner/header.gif');
}
.alert .content {
    background: url("../img/games/bookofwinner/freeSpinBg.png");
    width: 1184px;
    height: 626px;
}