@import "../game_types/old_game";
.header {
    position: absolute;
    top: 62px;
    background: url('../img/games/bookofra/header_bg.png');
    height: 119px;
    width: 1313px;
    left: 182px;
    background-size: cover;
}

.panel {
    background-image: url('../img/games/bookofra/panel_bg.png');
    background-position: center center;
}

.alert .content {
    background: url('../img/games/bookofra/images/freeSpinBg.png');
    width: 500px;
    height: 280px;
    font-size: 44px;
    color: #000;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 50px;
}

.main {
    background: url("../img/games/bookofra/game_bg.png") center center;
    background-color: #080038;
}
.line_presenters_container {
    height: 513px;

    &.left {
        top: 0px;
    }
    &.right {
        top: 0px;
        right: 1px;
    }
}
.line_presenter {
    width: 57px;
    height: 45px;
    border-radius: 0px;
}
.gamble {
    background-image: url('../img/games/bookofra/gamble/gamble_bg.png');
}
