@import "../game_types/old_game";
.header {
    position: absolute;
    top: 62px;
    background: url('../img/games/bookofra/header_bg.png');
    height: 119px;
    width: 1313px;
    left: 182px;
    background-size: cover;
}

.panel {
    background-image: url('../img/games/bookofra/panel_bg.png');
    background-position: center center;
}

.alert .content {
    background: url('../img/games/bookofra/images/freeSpinBg.png');
    width: 500px;
    height: 280px;
    font-size: 44px;
    color: #000;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 50px;
}

.main {
    background: url("../img/games/bookofra/game_bg.png") center center;
    background-color: #080038;
}
.line_presenters_container {
    height: 513px;

    &.left {
        top: 0px;
    }
    &.right {
        top: 0px;
        right: 1px;
    }
}
.line_presenter {
    width: 57px;
    height: 45px;
    border-radius: 0px;
}
.gamble {
    background-image: url('../img/games/bookofra/gamble/gamble_bg.png');
}

.substitutionBlock-wrapper {
    display: none;

    position: absolute;
    z-index: 51;
    width: 260px;
    height: 130px;

    background-size: 100% 100%;

    transition: top    1000ms ease-in-out,
                bottom 1000ms ease-in-out,
                left   1000ms ease-in-out,
                right  1000ms ease-in-out;

    & .substitutionBlock {
        display: flex;
        width: 100%;
        height: 100%;

        & .substitutionSymbol-container {
            width: 50%;
            padding: 25px 28px 31px;
            box-sizing: border-box;

            & .substitutionSymbol {
                background-size: cover;
                width: 100%;
                height: 100%;
            }
        }
        & .substitutionPaytable-container {
            width: 50%;
            padding: 25px 10px 31px;
            box-sizing: border-box;

            & .substitutionPaytable {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
            }
        }
    }

    &.start {
        top: 50%;
        left: calc(50% - 130px);
    }
    &.finish {
        top: -13px;
        left: calc(50% - 130px);
    }
}
