@import "../game_types/old_game";

.header {
    position: absolute;
    top: 62px;
    background: url('../img/games/computerworldold/header_bg.png');
    height: 119px;
    width: 1313px;
    left: 182px;
    background-size: 100% 100%;
}

.alert .content {
    background: url('../img/games/computerworldold/images/freeSpinBg.png');
    width: 777px;
    height: 483px;
    font-size: 45px;
    color: #FDEB4F;
    font-weight: 600;
    text-align: center;
    text-transform: capitalize;
    text-shadow: -2px -2px 2px #000, 2px 2px 2px #000, -2px 2px 2px #000, 2px -2px 2px #000;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 50px;
}

.main {
    background: url("../img/games/computerworldold/game_bg.png") center center;
    background-color: #0A0F45;
}
.line_presenters_container {
    height: 513px;

    &.left {
        top: 0px;
    }
    &.right {
        top: 0px;
        right: 1px;
    }
}
.line_presenter {
    width: 57px;
    height: 45px;
    border-radius: 0px;
}
.gamble {
    background-image: url('../img/games/computerworldold/gamble/gamble_bg.png');
}
.panel {
    background-image: url("../img/games/computerworldold/panel_bg.png");
    background-position:  center center;
}
.substitutionBlock-wrapper {
    display: none;

    position: absolute;
    z-index: 51;
    width: 260px;
    height: 130px;

    background-size: 100% 100%;

    transition: top    1000ms ease-in-out,
                bottom 1000ms ease-in-out,
                left   1000ms ease-in-out,
                right  1000ms ease-in-out;

    & .substitutionBlock {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;

        & .substitutionSymbol-container {
            width: 50%;
            height: 100%;
            padding: 25px 28px 31px;
            box-sizing: border-box;

            & .substitutionSymbol {
                background-size: cover;
                width: 100%;
                height: 100%;
            }
        }
        & .substitutionPaytable-container {
            width: 50%;
            padding: 25px 10px 31px;
            box-sizing: border-box;
            color: #fff;

            & .substitutionPaytable {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
            }
        }
    }

    &.start {
        top: 50%;
        left: calc(50% - 130px);
    }
    &.finish {
        top: 55px;
        left: calc(50% - 130px);
    }
}