@import "../game_types/old_game";
.header {
    position: absolute;
    top: 62px;
    background: url('../img/games/crazybarmenold/header_bg.png');
    height: 119px;
    width: 1313px;
    left: 182px;
    background-size: 100% 100%;
}

.alert .content {
    background: url('../img/games/crazybarmenold/images/freeSpinBg.png');
    width: 887px;
    height: 298px;
    font-size: 30px;
    color: #FAE84F;
    font-weight: 600;
    text-align: center;
    text-shadow: -2px -2px 2px #000, 2px 2px 2px #000, -2px 2px 2px #000, 2px -2px 2px #000;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 50px;
    padding-bottom: 70px;
    font-family: Oswald;
}

.main {
    background: url("../img/games/crazybarmenold/game_bg.png") center center;
    background-color: #380903;
}
.line_presenters_container {
    height: 513px;

    &.left {
        top: 0px;
    }
    &.right {
        top: 0px;
        right: 1px;
    }
}
.line_presenter {
    width: 57px;
    height: 45px;
    border-radius: 0px;
}
.gamble {
    background-image: url('../img/games/crazybarmenold/gamble/gamble_bg.png');
}
.panel {
    background-image: url("../img/games/crazybarmenold/panel_bg.png");
    background-position:  center center;
}