@import "../game_types/old_game";
.header {
    position: absolute;
    top: 62px;
    background: url('../img/games/crazybarmenold/header_bg.png');
    height: 119px;
    width: 1313px;
    left: 182px;
    background-size: 100% 100%;
}

.alert .content {
    background: url('../img/games/crazybarmenold/images/freeSpinBg.png');
    width: 887px;
    height: 298px;
    font-size: 30px;
    color: #FAE84F;
    font-weight: 600;
    text-align: center;
    text-shadow: -2px -2px 2px #000, 2px 2px 2px #000, -2px 2px 2px #000, 2px -2px 2px #000;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 50px;
    padding-bottom: 70px;
    font-family: Oswald;
}

.main {
    background: url("../img/games/crazybarmenold/game_bg.png") center center;
    background-color: #380903;
}
.line_presenters_container {
    height: 513px;

    &.left {
        top: 0px;
    }
    &.right {
        top: 0px;
        right: 1px;
    }
}
.line_presenter {
    width: 57px;
    height: 45px;
    border-radius: 0px;
}
.gamble {
    background-image: url('../img/games/crazybarmenold/gamble/gamble_bg.png');
}
.panel {
    background-image: url("../img/games/crazybarmenold/panel_bg.png");
    background-position:  center center;
}
.help__slide_1 {
    background-image: url('../img/games/crazybarmenold/help/slide_bg_1.png');
}
.help__slide_2 {
    background-image: url('../img/games/crazybarmenold/help/slide_bg_2.png');
}
.help__prize_container {
    position: absolute;

    div {
        font-size: 26px;
        line-height: 43px;
        text-align: center;
        color: #fff;
        letter-spacing: 3px;
        text-shadow: -2px -2px 2px #000, 2px 2px 2px #000, -2px 2px 2px #000, 2px -2px 2px #000;
        width: 177px;
        height: 46px;
    }
    &[data-symbols='6 10'] {
        top: 187px;
        left: 29px;
        }
    &[data-symbols='6 10'][data-joker] {
        top: 188px;
        left: 286px; 
    }
    &[data-symbols='7 12'] {
        top: 415px;
        left: 27px;
    }
    &[data-symbols='7 12'][data-joker] {
        top: 415px;
        left: 288px;

    }
    &[data-symbols='1 4 8'] {
        top: 607px;
        left: 28px;
    }
    
    &[data-symbols='1 4 8'][data-joker]{
        top: 607px;
        left: 280px;
    }
    &[data-symbols='11'] {
        top: 2px;
        left: 587px;
    }
    &[data-symbols='9'] {
        top: 310px;
        left: 533px;
    }
    &[data-symbols='0 2'] {
        top: 120px;
        left: 1116px;
        }
    &[data-symbols='0 2'][data-joker] {
        top: 120px;
        left: 868px;
        }
    &[data-symbols='5']{
        top: 412px;
        left: 1118px;
    }
    &[data-symbols='5'][data-joker]{
        top: 412px;
        left: 867px;
    }
    &[data-symbols='3'] {
        top: 607px;
        left: 1119px;
    }
    &[data-symbols='3'][data-joker] {
        top: 607px;
        left: 867px;
}
   
        
}