@import "../game_types/old_game";

.header {
    position: absolute;
    top: 62px;
    background: url('../img/games/gryphonsgold/header_bg.png');
    height: 119px;
    width: 1313px;
    left: 182px;
    background-size: 100% 100%;
}

.alert .content {
    background: url('../img/games/gryphonsgold/images/freeSpinBg.png');
    width: 813px;
    height: 327px;
    font-size: 45px;
    color: #592D96;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    text-shadow: -2px -2px 2px #000, 2px 2px 2px #000, -2px 2px 2px #000, 2px -2px 2px #000;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 100px 300px 50px 300px;
}

.main {
    background: url("../img/games/gryphonsgold/game_bg.png") center center;
    background-color: #000;
}
.line_presenters_container {
    height: 513px;

    &.left {
        top: 0px;
    }
    &.right {
        top: 0px;
        right: 1px;
    }
}
.line_presenter {
    width: 57px;
    height: 45px;
    border-radius: 0px;
}
.gamble {
    background-image: url('../img/games/gryphonsgold/gamble/gamble_bg.png');
}
.panel {
    background-image: url("../img/games/gryphonsgold/panel_bg.png");
    background-position:  center center;
}