@import "../game_types/old_game";
.header {
    position: absolute;
    top: 62px;
    background: url('../img/games/gulliver/header_bg.png');
    height: 119px;
    width: 1313px;
    left: 182px;
    background-size: 100% 100%;
}

.alert .content {
    background: url('../img/games/bananas/images/freeSpinBg.png');
    background-size: 100% 100%;
    width: 867px;
    height: 695px;
    background: url('../img/games/gulliver/images/freeSpinBg.png');
    width: 820px;
    height: 295px;
    font-size: 44px;
    color: #FDEA52;
    color: #836638;
    text-shadow: -2px -2px 2px #4D1907, 2px 2px 2px #4D1907, -2px 2px 2px #4D1907, 2px -2px 2px #4D1907;
    font-weight: 600;
    text-align: center;
    font-family: Oswald;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 50px;
}

.main {
    background: url("../img/games/gulliver/game_bg.png") center center;
    background-color: #130b03;
}
.line_presenters_container {
    height: 513px;

    &.left {
        top: 0px;
    }
    &.right {
        top: 0px;
        right: 1px;
    }
}
.line_presenter {
    width: 57px;
    height: 45px;
    border-radius: 0px;
}
.gamble {
    background-image: url('../img/games/gulliver/gamble/gamble_bg.png');
}
.panel {
    background-image: url("../img/games/gulliver/panel_bg.png");
    background-position:  center center;
}
.help__slide_1 {
    background-image: url('../img/games/gulliver/help/slide_bg_1.png');
}
.help__slide_2 {
    background-image: url('../img/games/gulliver/help/slide_bg_2.png');
}
.help__prize_container {
    position: absolute;

    div {
        font-size: 26px;
        line-height: 43px;
        text-align: center;
        color: #fff;
        letter-spacing: 3px;
        text-shadow: -2px -2px 2px #000, 2px 2px 2px #000, -2px 2px 2px #000, 2px -2px 2px #000;
        width: 177px;
        height:32px;
    }
    &[data-symbols='10'] {
        top: 60px;
        left: 227px;
        }
    &[data-symbols='8']{
        top: 288px;
        left: 231px;
        }
    &[data-symbols='5']{
        top: 49px;
        left: 707px;
        div {margin-bottom: 5px;}
    }
    &[data-symbols='7 11 1'] {
        top: 297px;
        left: 682px;
        div {margin-bottom: 10px;}
    }

    &[data-symbols='9']{
        top: 63px;
        left: 1121px;
    }

    &[data-symbols='0 6'] {
        top: 295px;
    left: 1109px;
        div {margin-bottom: 10px;}
        }
            
}