@import "../game_types/with_borders";
@import "../help_types/help_substitution";

.alert .content {
    background: url('../img/games/hitjewels/images/freeSpinBg.png');
    width: 541px;
    height: 497px;
}
.main {
    background: url('../img/games/hitjewels/game_bg.png') center center;
}
.line_presenters_container.right {
    right: 2px;
    top: 6px;
}
.line_presenter {
    background-image: url('../img/line_presenter_glare.png');

    background-size: 100% 100%;
    font-size: 32px;
    width: 53px;
    height: 53px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reel_wrapper {
    background: url('../img/games/hitjewels/reel_bg.png');
}

.header {
    background: url('../img/games/hitjewels/header.png');
}
.gamble {
    background: url('../img/games/hitjewels/gamble/gamble_bg.png');
    top: 153px;
    width: 1365px;
    height: 677px;
}
.help {
    background-image: url('../img/games/bookofwinner/help/border_bg.png');
    z-index:3;
}
.help__btn_next {
    background-image: url('../img/games/bookofwinner/help/next_btn_bg.gif');
    display: none;
}
.help__btn_prev {
    background-image: url('../img/games/bookofwinner/help/prev_btn_bg.gif');
    display: none;
}
.help__btn_close {
    background-image: url('../img/games/bookofwinner/help/close_btn_bg.gif');
}
.help__slide_1 {
    background-image: url('../img/games/hitjewels/help/slide_bg_1.png');
}

.help__prize_container {
    position: absolute;

    div {
        font-size: 26px;
        line-height: 43px;
        text-align: center;
        color: #fff;
        letter-spacing: 3px;
        text-shadow: -2px -2px 2px #000, 2px 2px 2px #000, -2px 2px 2px #000, 2px -2px 2px #000;
        width: 177px;
        height: 63px;
    }
    &[data-symbols='7'] {
        top: 183px;
        left: 233px;
    }
    
    &[data-symbols='5 4'] {
        top: 408px;
        left: 228px;
       
    }
    
    &[data-symbols='3'] {
        top: 173px;
        left: 671px;
    }
    
    
    &[data-symbols='2']{
        top: 389px;
        left: 672px;
        
    }
    &[data-symbols='0'] {
        top: 184px;
        left: 947px;
        }
    &[data-symbols='1 6'] {
        top: 407px;
        left: 949px;
        }
    
    
      
}