@import "../game_types/without_borders";
@import "../help_types/help_substitution";

.main {
    background: url('../img/games/kingofjewels/game_bg.gif') center center;
}

.line_presenter {
    background-image: url('../img/line_presenter_glare.png');

    background-size: 100% 100%;
    font-size: 32px;
    width: 54px;
    height: 54px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reel_wrapper {
    background: url('../img/games/kingofjewels/reel_bg.png');
}

.header {
    background: url('../img/games/kingofjewels/header.gif');
}
.alert .content {
    background-image: url("../img/games/kingofjewels/images/freeSpinBg.png");
    background-size: 100% 100%;
    width: 830px;
    height: 310px;
    color: white;
    font-size: 44px;
    text-shadow: 2px 2px black;
    padding: 0 100px;
    box-sizing: border-box;
    text-align: center;
}
.gamble {
    background-image: url('../img/games/kingofjewels/gamble/gamble_bg.png');
    width: 1406px;
    border-radius: 20px;
    background-size: 100% 100%;
}

.help {
    background-image: url('../img/games/bookofwinner/help/border_bg.png');
    z-index:3;
}
.help__btn_next {
    background-image: url('../img/games/bookofwinner/help/next_btn_bg.gif');
    display: none;
}
.help__btn_prev {
    background-image: url('../img/games/bookofwinner/help/prev_btn_bg.gif');
    display: none;
}
.help__btn_close {
    background-image: url('../img/games/bookofwinner/help/close_btn_bg.gif');
}
.help__slide_1 {
    background-image: url('../img/games/kingofjewels/help/slide_bg_1.png');
}

.help__prize_container {
    position: absolute;

    div {
        font-size: 26px;
        line-height: 43px;
        text-align: center;
        color: #fff;
        letter-spacing: 3px;
        text-shadow: -2px -2px 2px #000, 2px 2px 2px #000, -2px 2px 2px #000, 2px -2px 2px #000;
        width: 177px;
        height: 43px;
    }
    &[data-symbols='4'] {
        top: 277px;
        left: 247px;
    }
    
    &[data-symbols='0 7'] {
        top: 446px;
        left: 247px;
        div {
            margin-bottom: 0;
        }
    }
    
    &[data-symbols='1'] {
        top: 259px;
        left: 654px;
    }
    
    
    &[data-symbols='3']{
        top: 425px;
        left: 656px;
        
    }
    &[data-symbols='2'] {
        top: 277px;
        left: 1056px;    
    }
    &[data-symbols='5 6'] {
        top: 446px;
        left: 1056px;
    }
    
    
      
}