@import "../game_types/old_game";
.header {
    position: absolute;
    top: 62px;
    background: url('../img/games/luckyladyscharm/header_bg.png');
    height: 119px;
    width: 1313px;
    left: 182px;
    background-size: cover;
}

.alert .content {
    background: url('../img/games/luckyladyscharm/images/freeSpinBg.png');
    width: 615px;
    height: 217px;
    font-size: 44px;
    color: #357522;
    font-weight: 400;
    font-family: Oswald;
    text-align: center;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 50px;
}

.main {
    background: url("../img/games/luckyladyscharm/game_bg.png") center center;
    background-color: #3c0018;
}
.line_presenters_container {
    height: 513px;

    &.left {
        top: 0px;
    }
    &.right {
        top: 0px;
        right: 1px;
    }
}
.line_presenter {
    width: 57px;
    height: 45px;
    border-radius: 0px;
}
.gamble {
    background-image: url('../img/games/luckyladyscharm/gamble/gamble_bg.png');
}
.panel {
    background-image: url("../img/games/luckyladyscharm/panel_bg.png");
    background-position:  center center;
}