@import "../game_types/with_borders";

.alert .content {
    background: url('../img/games/magicsecret/images/freeSpinBg.png');
    width: 541px;
    height: 497px;
}
.main {
    background: url('../img/games/magicsecret/game_bg.png') center center;
}

.line_presenter {
    width: 56px;
    height: 56px;
}
.line_presenters_container {
    height: 642px;
    top: 16px;
    &.left {
        left: 13px;
    }
    &.right {
        right: 15px;
    }
}

.reel_wrapper {
    background: url('../img/games/magicsecret/reel_bg.png');
}

.header {
    background: url('../img/games/magicsecret/header.png');
}
.gamble {
    background-image: url('../img/games/magicsecret/gamble/gamble_bg.png');
    background-size: 100% 100%;
    border-radius: 20px;
    top: 154px;
    width: 1402px;
    height: 682px;
}

.main {
    height: 697px;
    background-repeat: no-repeat;
}
.reels_container {
    top: 15px;
}