@import "../game_types/with_borders";
@import "../help_types/help_substitution";
.alert .content {
    background: url('../img/games/magicsecret/images/freeSpinBg.png');
    width: 541px;
    height: 497px;
}
.main {
    background: url('../img/games/magicsecret/game_bg.png') center center;
}

.line_presenter {
    width: 56px;
    height: 56px;
}
.line_presenters_container {
    height: 642px;
    top: 16px;
    &.left {
        left: 13px;
    }
    &.right {
        right: 15px;
    }
}

.reel_wrapper {
    background: url('../img/games/magicsecret/reel_bg.png');
}

.header {
    background: url('../img/games/magicsecret/header.png');
}
.gamble {
    background-image: url('../img/games/magicsecret/gamble/gamble_bg.png');
    background-size: 100% 100%;
    border-radius: 20px;
    top: 154px;
    width: 1402px;
    height: 682px;
}

.main {
    height: 697px;
    background-repeat: no-repeat;
}
.reels_container {
    top: 15px;
}
.help {
    background-image: url('../img/games/bookofwinner/help/border_bg.png');
    z-index:3;
}
.help__btn_next {
    background-image: url('../img/games/bookofwinner/help/next_btn_bg.gif');
}
.help__btn_prev {
    background-image: url('../img/games/bookofwinner/help/prev_btn_bg.gif');
}
.help__btn_close {
    background-image: url('../img/games/bookofwinner/help/close_btn_bg.gif');
}
.help__slide_1 {
    background-image: url('../img/games/magicsecret/help/slide_bg_1.png');
}
.help__slide_2 {
    background-image: url('../img/games/magicsecret/help/slide_bg_2.png');
}
.help__prize_container {
    position: absolute;

    div {
        font-size: 26px;
        line-height: 43px;
        text-align: center;
        color: #fff;
        letter-spacing: 3px;
        text-shadow: -2px -2px 2px #000, 2px 2px 2px #000, -2px 2px 2px #000, 2px -2px 2px #000;
        width: 177px;
        height: 43px;
    }
    &[data-symbols='6'] {
        top: 215px;
        left: 276px;
    }
    &[data-symbols='2'] {
        top: 510px;
        left: 255px;
    }
    &[data-symbols='1 5'] {
        top: 798px;
         left: 315px;
        div {
            margin-bottom: 15px;
        }
    }

    &[data-symbols='9'] {
        top: 180px;
        left: 704px;
        div {
            margin-bottom: 15px;
        }
    }

    &[data-symbols='3'] {
        top: 217px;
        right: 23px;
    }
    &[data-symbols='8'] {
        top: 513px;
        right: 27px;
    }
    &[data-symbols='0 4 7'] {
        top: 795px;
        right: 200px;
        div {
            margin-bottom: 15px;
        }
    }
}