@import "../game_types/with_borders";
@import "../help_types/help_substitution";

.alert .content {
    background-image: url('../img/games/mariner/images/freeSpinBg.png');
    background-size: 100% 100%;
    width: 700px;
    height: 400px;

    color: rgb(255, 255, 92);
    font-size: 50px;
    text-transform: uppercase;
    text-shadow: 1px 1px black, -1px 1px black, 1px -1px black, -1px -1px black;

    padding: 0 100px;
    box-sizing: border-box;
    text-align: center;
}
.main {
    background: url('../img/games/mariner/game_bg.png') center center;
    top: 158px;
}

.line_presenter {
    background-image: url('../img/line_presenter_glare.png');

    background-size: 100% 100%;
    font-size: 32px;
    width: 53px;
    height: 53px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reel_wrapper {
    background: url('../img/games/mariner/reel_bg.png');
}

.header {
    background: url('../img/games/mariner/header.gif');
}
.gamble {
    background-image: url('../img/games/mariner/gamble/gamble_bg.png');
    background-size: 100% 100%;
    border-radius: 20px;
    top: 152px;
    width: 1400px;
    height: 683px;
}
.help {
    background-image: url('../img/games/bookofwinner/help/border_bg.png');
    z-index:3;
}
.help__btn_next {
    background-image: url('../img/games/bookofwinner/help/next_btn_bg.gif');
}
.help__btn_prev {
    background-image: url('../img/games/bookofwinner/help/prev_btn_bg.gif');
}
.help__btn_close {
    background-image: url('../img/games/bookofwinner/help/close_btn_bg.gif');
}
.help__slide_1 {
    background-image: url('../img/games/mariner/help/slide_bg_1.png');
}
.help__slide_2 {
    background-image: url('../img/games/mariner/help/slide_bg_2.png');
}
.help__prize_container {
    position: absolute;

    div {
        font-size: 26px;
        line-height: 43px;
        text-align: center;
        color: #fff;
        letter-spacing: 3px;
        text-shadow: -2px -2px 2px #000, 2px 2px 2px #000, -2px 2px 2px #000, 2px -2px 2px #000;
        width: 177px;
        height: 32px;
    }
    &[data-symbols='9'] {
        top: 216px;
        left: 272px;
    }
    
    &[data-symbols='11'] {
        top: 469px;
        left: 218px;
       
    }
    
    &[data-symbols='5'] {
        top: 211px;
        left: 689px;
    }
    
    
    &[data-symbols='10 7 1']{
        top: 468px;
        left: 659px;
        div {
            margin-bottom: 17px;
        }
        
    }
    &[data-symbols='8'] {
        top: 216px;
        left: 1081px;
       
        }
    &[data-symbols='0 6'] {
        top: 468px;
        left: 1101px;
            div {
                margin-bottom: 17px;
            }  
    }
    
}