@import "../game_types/with_borders";


.alert .content {
    background: url('../img/games/money/images/freeSpinBg.png');
    width: 804px;
    height: 411px;
    background-size: 100% 100%;
    font-size: 30px;
    font-weight: 900;
    text-transform: uppercase;
}
.main {
    background: url('../img/games/money/game_bg.png') center center;
}

.line_presenter {
    background-image: url('../img/line_presenter_glare.png');

    background-size: 100% 100%;
    font-size: 32px;
    width: 53px;
    height: 53px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reel_wrapper {
    background: url('../img/games/money/reel_bg.png');
}

.header {
    background: url('../img/games/money/header.png');
}
.gamble {
    background-image: url('../img/games/money/gamble/gamble_bg.png');
    background-size: 100% 100%;
    top: 155px;
    width: 1402px;
    border-radius: 20px;
    height: 675px;
}