@import "../game_types/without_borders";

.main {
    background: url('../img/games/nautilus/game_bg.png') center center;
}

.line_presenter {
    background-image: url('../img/line_presenter_glare.png');

    background-size: 100% 100%;
    font-size: 32px;
    width: 54px;
    height: 54px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reel_wrapper {
    background: url('../img/games/nautilus/reel_bg.png');
}

.header {
    background-image: url('../img/games/nautilus/header.png');
}
.alert .content {
    background: url("../img/games/nautilus/freeSpinBg.png");
    width: 1184px;
    height: 626px;
}
.gamble {
    background: url('../img/games/nautilus/gamble/gamble_bg.png');
}

.alert .content {
    width: 1015px;
    height: 504px;
    background-size: 100% 100%;
    font-size: 30px;
    font-weight: 900;
    text-transform: uppercase;
}