@import "../game_types/with_borders";


.alert .content {
    background: url('../img/games/pepperseven/images/freeSpinBg.png');
    width: 541px;
    height: 497px;
    font-size: 44px;
    color: #8400a6;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 200px 120px 100px 120px;
}
.main {
    background: url('../img/games/pepperseven/game_bg.gif') center center;
}
.line_presenters_container {
    height: 645px;
    top: 11px;
}
.line_presenters_container.left {
    left: 10px;
}
.line_presenters_container.right {
    right: 12px;
}
.line_presenter {
    background-image: url('../img/line_presenter_glare.png');
    background-size: 100% 100%;
    font-size: 32px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reel_wrapper {
    background: url('../img/games/pepperseven/reel_bg.png');
}

.reels_container {
    left: 81px;
    top: 6px;
}

.header {
    background: url('../img/games/pepperseven/header.gif');
}
.gamble {
    background: url('../img/games/pepperseven/gamble/gamble_bg.png');
    background-size: 100% 100%;
    top: 151px;
    width: 1395px;
    height: 684px;
}