@import "../game_types/with_borders";
@import "../help_types/help_substitution";

.alert .content {
    background: url('../img/games/rolloframses/images/freeSpinBg.png');
    width: 541px;
    height: 497px;
    font-size: 44px;
    color: #8400a6;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 200px 120px 100px 120px;
}
.main {
    background: url('../img/games/rolloframses/game_bg.png') center center;
}
.line_presenters_container {
    height: 649px;
    top: 5px;
}
.line_presenters_container.left {
    left: 3px;
}
.line_presenters_container.right {
    right: 7px;
}
.line_presenter {
    background-image: url('../img/line_presenter_glare.png');
    background-size: 100% 100%;
    font-size: 32px;
    width: 65px;
    height: 45px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reel_wrapper {
    background: url('../img/games/rolloframses/reel_bg.png');
}

.reels_container {
    left: 81px;
    top: 6px;
}

.header {
    background: url('../img/games/rolloframses/header.gif');
}
.gamble {
    background: url('../img/games/rolloframses/gamble/gamble_bg.png');
    background-size: 100% 100%;
    top: 151px;
    width: 1395px;
    height: 684px;
}
.help {
    background-image: url('../img/games/bookofwinner/help/border_bg.png');
    z-index:3;
}
.help__btn_next {
    background-image: url('../img/games/bookofwinner/help/next_btn_bg.gif');
}
.help__btn_prev {
    background-image: url('../img/games/bookofwinner/help/prev_btn_bg.gif');
}
.help__btn_close {
    background-image: url('../img/games/bookofwinner/help/close_btn_bg.gif');
}
.help__slide_1 {
    background-image: url('../img/games/rolloframses/help/slide_bg_1.png');
}
.help__slide_2 {
    background-image: url('../img/games/rolloframses/help/slide_bg_2.png');
}
.help__prize_container {
    position: absolute;

    div {
        font-size: 26px;
        line-height: 43px;
        text-align: center;
        color: #fff;
        letter-spacing: 3px;
        text-shadow: -2px -2px 2px #000, 2px 2px 2px #000, -2px 2px 2px #000, 2px -2px 2px #000;
        width: 177px;
        height: 43px;
    }
    &[data-symbols='6'] {
        top: 305px;
        left: 248px;
    }
    &[data-symbols='9'] {
        top: 534px;
        left: 262px;
    div {
        margin-bottom: 3px;
    }
    }
    &[data-symbols='0 4 7'] {
        top: 832px;
        left: 312px;
        div {
            margin-bottom: 5px;
        }
    }

    &[data-symbols='8'] {
        top: 328px;
        left: 698px;
        div {
            margin-bottom: 5px;
        }
    }

    &[data-symbols='3'] {
        top: 300px;
        right: 23px;
    div {
        margin-bottom: 3px;
    }
    }
    &[data-symbols='2'] {
        top: 532px;
        right: 45px;
        div {
            margin-bottom: 3px;
        }
    }
    &[data-symbols='1 5'] {
        top: 835px;
        right: 78px;
        div {
            margin-bottom: 2px;
        }
    }
}