@import "../game_types/with_borders";
@import "../help_types/help_substitution";
.alert .content {
    background: url('../img/games/savannaqueen/images/freeSpinBg.png');
    width: 1015px;
    height: 504px;
    background-size: 100% 100%;
    font-weight: 900;
    text-transform: uppercase;
    color: rgb(166, 105, 43);
    font-size: 50px;
    padding: 0 140px;
    box-sizing: border-box;
    text-align: center;
}
.main {
    background: url('../img/games/savannaqueen/game_bg.png') center center;
}

.line_presenter {
    background-image: url('../img/line_presenter_glare.png');

    background-size: 100% 100%;
    font-size: 32px;
    width: 53px;
    height: 53px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reel_wrapper {
    background: url('../img/games/savannaqueen/reel_bg.png');
}

.header {
    background: url('../img/games/savannaqueen/header.png');
}
.gamble {
    background: url('../img/games/savannaqueen/gamble/gamble_bg.png');
    top: 155px;
    width: 1397px;
    height: 679px;
    background-size: 100% 100%;
    border-radius: 20px;
}

.line_presenters_container {
    &.left {
        top: 14px;
        left: 5px;
        height: 642px;
    }
    &.right {
        top: 8px;
        right: 5px;
        height: 650px;
    }
}

.line_presenter {
    border-radius: 50%;
    width: 60px;
    height: 60px;
}
.help {
    background-image: url('../img/games/bookofwinner/help/border_bg.png');
    z-index:3;
}
.help__btn_next {
    background-image: url('../img/games/bookofwinner/help/next_btn_bg.gif');
}
.help__btn_prev {
    background-image: url('../img/games/bookofwinner/help/prev_btn_bg.gif');
}
.help__btn_close {
    background-image: url('../img/games/bookofwinner/help/close_btn_bg.gif');
}
.help__slide_1 {
    background-image: url('../img/games/savannaqueen/help/slide_bg_1.png');
}
.help__slide_2 {
    background-image: url('../img/games/savannaqueen/help/slide_bg_2.png');
    background-size: 100% 100%;
}
.help__prize_container {
    position: absolute;

    div {
        font-size: 26px;
        line-height: 43px;
        text-align: center;
        color: #fff;
        letter-spacing: 3px;
        text-shadow: -2px -2px 2px #000, 2px 2px 2px #000, -2px 2px 2px #000, 2px -2px 2px #000;
        width: 177px;
        height: 43px;
    }
    &[data-symbols='8 9'] {
        top: 236px;
        left: 34px;
        div {
            margin-bottom: 10px;
        }
    }
    &[data-symbols='8 9'][data-joker] {
        top: 236px;
        left: 297px;
        div {
            margin-bottom: 10px;
        }
    }
    &[data-symbols='2 7'] {
        top: 554px;
        left: 33px;
        div {
            margin-bottom: 10px;
        }
    }
    &[data-symbols='2 7'][data-joker] {
        top: 554px;
        left: 295px;
        div {
            margin-bottom: 10px;
        }
    }
    &[data-symbols='1 5 11'] {
        top: 769px;
        left: 186px;
        div {
            margin-bottom: 10px;
        }
    }
    
    &[data-symbols='1 5 11'][data-joker] {
        top: 769px;
        left: 449px;
        div {
            margin-bottom: 10px;
        }
    }
    &[data-symbols='6']{
        top: 23px;
        left: 599px;
        div {
            margin-bottom: 10px;
        }
    }
    &[data-symbols='12'] {
        top: 437px;
        left: 555px;
        div {
            margin-bottom: 12px;
        }
        }
    &[data-symbols='4 3'] {
        top: 165px;
        left: 1138px;
        div {
            margin-bottom: 12px;
        }
        }
    &[data-symbols='4 3'][data-joker] {
        top: 165px;
        left: 1138px;
        div {
            margin-bottom: 12px;
        }
        }
    &[data-symbols='10'] {
        top: 556px;
        right: 10px;
    div {
        margin-bottom: 3px;
    }
    }
    &[data-symbols='10'][data-joker] {
        top: 556px;
        right: 206px;
    div {
        margin-bottom: 3px;
    }
    }
    &[data-symbols='0'] {
        top: 775px;
        right: 93px;
    }
    &[data-symbols='0'][data-joker] {
        top: 775px;
        right: 283px;
        div {
            margin-bottom: 3px;
        }
    }
    
    
}