@import "../game_types/without_borders";

.main {
    background: url('../img/games/scatterwins/game_bg.gif') center center;
}
.line_presenters_container {
    position: absolute;
    top: 48px;
    height: 645px;
    display: block;
    &.left{
        left: 126px;
    }
    &.right{
        right: 126px;
        top: 55px;
        .line_presenter {
            margin-bottom: 13px;
            &:nth-child(2),
            &:nth-child(6) {
                margin-bottom: 58px;
            }
        }
    }
}
.line_presenter {
    background-image: url('../img/line_presenter_glare.png');
    background-size: 100% 100%;
    font-size: 32px;
    width: 55px;
    height: 55px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 11.5px;

    &:nth-child(3){
        margin-bottom: 39px;
    }
    &:nth-child(6) {
        margin-bottom: 41px;
    }

}


.reels_wrapper {
    width: 1409px;
    justify-content: space-between;
}
.reels_container {
    position: absolute;
    left: 194px;
    top: 22px;
}
.reel_wrapper {
    background: url('../img/games/scatterwins/reel_bg.png');
    width: 367px !important;
}
.reel{
    right: 0;
    margin: auto;
}

.header {
    background: url('../img/games/scatterwins/header.gif');
}
.alert .content {
    background: url("../img/games/scatterwins/freeSpinBg.png");
    width: 1184px;
    height: 626px;
}
.gamble {
    background: url('../img/games/scatterwins/gamble/gamble_bg.png');
}