@import "../game_types/old_game";

.header {
    position: absolute;
    top: 62px;
    background: url('../img/games/sealight/header_bg.png');
    height: 119px;
    width: 1313px;
    left: 182px;
    background-size: 100% 100%;
}

.alert .content {
    background: url('../img/games/sealight/images/freeSpinBg.png');
    width: 813px;
    height: 327px;
    font-size: 50px;
    color: #fff;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 50px;
    padding-bottom: 70px;
}

.main {
    background: url("../img/games/sealight/game_bg.png") center center;
    background-color: #142c48;
}
.line_presenters_container {
    height: 513px;

    &.left {
        top: 0px;
    }
    &.right {
        top: 0px;
        right: 1px;
    }
}
.line_presenter {
    width: 57px;
    height: 45px;
    border-radius: 0px;
}
.gamble {
    background-image: url('../img/games/sealight/gamble/gamble_bg.png');
}
.panel {
    background-image: url("../img/games/sealight/panel_bg.png");
    background-position:  center center;
}
.help__slide_1 {
    background-image: url('../img/games/sealight/help/slide_bg_1.png');
}
.help__slide_2 {
    background-image: url('../img/games/sealight/help/slide_bg_2.png');
}
.help__prize_container {
    position: absolute;

    div {
        font-size: 26px;
        line-height: 43px;
        text-align: center;
        color: #fff;
        letter-spacing: 3px;
        text-shadow: -2px -2px 2px #000, 2px 2px 2px #000, -2px 2px 2px #000, 2px -2px 2px #000;
        width: 177px;
        height: 28px;
    }
    &[data-symbols='3 12'] {
        top: 193px;
        left: 24px;
        div {margin-bottom: 16px;}
    }
    &[data-symbols='3 12'][data-joker] {
        top: 193px;
        left: 282px;    
        div {margin-bottom: 16px;}
    }
    &[data-symbols='2 8'] {
        top: 417px;
        left: 24px;
        div {margin-bottom: 16px;}
    }
    &[data-symbols='2 8'][data-joker] {
        top: 417px;
        left: 283px;
        div {margin-bottom: 16px;} 
    }

    &[data-symbols='1 6 10']{
        top: 612px;
        left: 170px;
        div {margin-bottom: 16px;}
    }
    &[data-symbols='1 6 10'][data-joker] {
        top: 613px;
        left: 425px;
        div {margin-bottom: 16px;}
    }
    &[data-symbols='7'] {
        top: 14px;
        left: 586px;
        div {margin-bottom: 16px;}
    }
    &[data-symbols='11'] {
        top: 316px;
        left: 535px;
        div {margin-bottom: 16px;}
    }
    &[data-symbols='5 9'] {
        top: 127px;
        left: 1121px;
        div {margin-bottom: 16px;}
    }
    &[data-symbols='5 9'][data-joker] {
        top: 127px;
        left: 872px;
        div {margin-bottom: 16px;}
    }
    &[data-symbols='4'] {
        top: 413px;
        left: 1123px;
        div {margin-bottom: 16px;}
    }
    &[data-symbols='4'][data-joker] {
        top: 413px;
        left: 871px;
        div {margin-bottom: 16px;}
    }
    &[data-symbols='0'] {
        top: 609px;
        right: 85px;
        div {margin-bottom: 16px;}
    }
    &[data-symbols='0'][data-joker] {
        top: 609px;
        right: 325px;
        div {margin-bottom: 16px;}
    }
        
}