@font-face {
    font-family: "Franklin Gothic Demi";
    src: url('../fonts/Franklin_Gothic_Demi.ttf');
    font-weight: 400;
}

@font-face {
    font-family: "digital-7";
    src: url('../fonts/digital-7-mono-italic.ttf');
}

@font-face {
    font-family: "Molot";
    src: url('../fonts/Molot.otf');
}