#loading {
    position: fixed;
    z-index: 10;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    font-family: Oswald;
}
.loading__container {
    background: #000 url("../img/loading/loading_bg.png") center center;
    width: 927px;
    height: 900px;
    position: relative;
}
#loading__block {
    position: absolute;
    top: 347px;
    left: 167px;
    background: url("../img/loading/loading_block_bg.png");
    width: 0;
    height: 37px;
}
.loading__text {
    color: rgba(255, 255, 255, 0.8);
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-shadow: 1px 1px 0px #2178cd, -1px -1px 0px #2178cd, 1px -1px 0px #2178cd, -1px 1px 0px #2178cd;
    position: absolute;
    top: 307px;
    left: 0;
    right: 0;
    margin: auto;
    width: 362px;
    
}
#loading__persent {

}