.help__slide {
    position: absolute;
    transform: translateY(-100%);
    transition: transform .5s;
    top: 63px;
    right: 0;
    left: 0;
    margin: auto;
    height: 820px;
    width: 1315px;
    z-index: 3;
}
