.help__slide {
    position: absolute;
    transform: translateY(-100%);
    transition: transform .5s;
    top: 63px;
    right: 0;
    left: 0;
    margin: auto;
    height: 820px;
    width: 1315px;
    z-index: 3;
}
.help__slide_1 {
    background: url('../img/bananasgobahamas/help/slide_bg_1.png');
}
.help__slide_2 {
    background: url('../img/bananasgobahamas/help/slide_bg_2.png');
}